@media (min-width: 641px) {

    header,
    ul,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto
    }

    /* /////////////// INDEX.HTML /////////////////// */
    /******************* Header **************************/

    header {
        grid-template-columns: 24px auto;
        padding: 10px 0 5px 10px;
        border-bottom: none;
        padding-top: 0;
    }

    header span,
    header img {
        margin: .6rem 0 .5rem 0;
        font-size: 1.3rem;
    }

    header span {
        margin-left: 1rem;
    }

    header img {
        width: 3rem;
        margin-top: .2rem;
    }


    header img,
    header span {
        padding: 0;
    }

    #nav-bar {
        background-color: #ccc;
    }

    /******************* Navigation **************************/

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    /******************* HAMBURGER NAV **************************/

    .hamburger {
        display: none;
    }


    /* /////////////// INDEX.HTML /////////////////// */




    /******************* Doctors **************************/
    #doctors {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

    }

    #doctors h1 {
        grid-column: span 3;
    }

    #doctors section {
        zoom: 0.7;
    }



    /******************* Appointment Call **************************/

    #appointment-section {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom: 2px solid #333;
        padding-top: 1rem;
        border-top: 2px solid #6d6d6d;
    }


    /* /////////////// PRODUCTS.HTML /////////////////// */

    .all-medicines {

        grid-template-columns: 1fr 1fr 1fr;

    }

}