/******************************************* MAP ********************************************/


.embed-map-frame {
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 auto;

}

/*********I used this website for the map: https://www.mapembed.org/?gad_source=1&gad_campaignid=22280139497&gbraid=0AAAAA98a5IPNHZXgc5oEQjdLPlDIlDgSq&gclid=CjwKCAjwyMnNBhBNEiwA-Kcguy0hMFZsU7CNPTVfPnhFKmNb0_TSTvtQ80e1pNmRmZwyZJdBmv-a8RoCFDIQAvD_BwE************/


/******************************************* CARDS ********************************************/
#cards,

header,
h1 {
    place-items: center;
}

h1,
h3 {
    color: hsl(240, 32%, 45%);
}

h3 {
    border-bottom: 1px solid black;
}

#cards section {
    background-color: hsl(240, 16%, 76%);
    place-items: center;
    max-width: 30rem;
}

#cards section h3 {
    font-size: 2rem;
}

#cards section p {
    font-size: 1rem;
}

#cards section img {
    background-size: cover;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    box-shadow: 5px 5px 10px #888;
    width: 20rem;
    height: auto;
}