@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto
    }

    /******************* Header **************************/

    header {
        grid-template-columns: 24px auto;
        padding: 10px 0 5px 10px;
        border-bottom: none;
        padding-top: 0;
    }

    header span,
    header img {
        margin: .6rem 0 .5rem 0;
        font-size: 1.3rem;
    }

    header img {
        width: 3rem;
        margin-top: .2rem;
    }


    header img,
    header span {
        padding: 0;
    }

    #nav-bar {
        background-color: #ccc;
    }

    /******************* Navigation **************************/

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    /******************* HAMBURGER NAV **************************/

    .hamburger {
        display: none;
    }

    /******************* SITE WIDE **************************/
    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #cards section {
        min-height: 40.5rem;
        display: grid;
        place-items: center;
    }

    #cards img {
        width: 200px;
        height: 150px;
        object-fit: cover;

    }
}