@media (min-width: 641px) and (max-width: 1024px) {




    .cards section {

        grid-template-columns: 1fr 1fr;
        max-width: 60rem;
        grid-template-areas:

            "name   name"
            "figure description "
            "figure address"
            "button button"
        ;
    }

    .cards button {
        justify-self: stretch;
        margin: 0 .6rem;
        width: 187%;
    }


    .cards p {
        margin: 0 .2rem;

    }
}