#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;

}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    flex: 1 1 100%;

}

.open a {
    display: block;
}

@media (min-width: 37.5em) {

    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;

    }


}